body{padding: 0;margin: 0;}

#topo{background-color: bisque; height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;}

#titulo{color: rgb(216, 160, 233); }


#divisao{background-color: rgb(207, 163, 111); height: 10px;;}

#primeiraLinha{background-color: rgb(223, 181, 126);
    height: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 50px;}

#terceiro{color: rgb(255, 232, 253);}

#caixaImg{display: flex;
justify-content: center ;
align-items: center;
margin-top: 50px ;}

#divisaoDois{background-color: rgb(240, 200, 148) ; height: 10px; margin-top: 53px;}

#segundaLinha{background-color: rgb(218, 202, 182); 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; }

#segundo{color: rgb(180, 139, 92);}

#caixaImgDois{display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;}

#divisaoTres{background-color: antiquewhite; 
        height: 10px; margin-top: 53px;}

#terceiraLinha{background-color: rgb(131, 93, 44); height: 50px; display: flex; justify-content: center; 
        align-items: center; margin-top: 50px;}
    
#primeiro{color: rgb(230, 165, 230);}

#caixaImgTres{display: flex;justify-content: center; align-items: center; margin-top: 50px;}